/* Navbar */

nav {
  background-color: rgb(215, 215, 215);
}

html,
body {
  margin: 0;
  padding: 0;
}

.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
  padding: 12px 16px;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

/* Hero */
.hero {
  text-align: center;
  background-color: rgb(215, 215, 215);
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
  padding: 12px 16px;
}

.hero h2 {
  color: rgb(74, 73, 73);
}
